@theme {
  --color-notes-teal: #16b2ab;
  --color-notes-black: #1b1c1d;
  --color-notes-white: #ececec;
  --page: "Roboto";
  --height-screen: 100dvh;
  --shadow-notes: 0 0 5px #1b1c1d;
}

@theme inline {
  --font-page: var(--page, sans-serif);
}
